@model Student
@{
    Layout = "_Layout";
}
@section info{
    <div class="user_img">
        <img class="img-responsive"
         src="@ViewData["Path"]"
         alt="#" />
    </div>
    <div class="user_info">
        <h6>@ViewData["Name"]</h6>
        <p><span class="online_animation"></span>Komisyon</p>
    </div>
}
    @section pages{
    <h4>SA</h4>
    <div class="row column1">
        <div class="col-md-4">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        @if (ViewData["Staj1"] != null)
                        {
                            <p class="head_couter"><a asp-action="Staj1Page" asp-controller="Teacher" asp-route-id="@Model.Id"></a></p>
                        }
                        else
                        {
                            <p> Staj-1 Bulunamadı</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        @if (ViewData["Staj2"] != null)
                        {
                            <p class="head_couter"><a asp-action="Staj1Page" asp-controller="Teacher" asp-route-id="@Model.Id"></a></p>
                        }
                        else
                        {
                            <p> Staj-2  Bulunamadı</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        @if (ViewData["ISE"] != null)
                        {
                            <p class="head_couter"><a asp-action="Staj1Page" asp-controller="Teacher" asp-route-id="@Model.Id"></a></p>
                        }

                        else
                        {
                            <p> ISE Bulunamadı</p>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    }

