@model StudentModel
@{
    Layout = "_Layout";
}

    @section info{
    <div class="user_img">
        <img class="img-responsive"
         src="@ViewData["Path"]"
         alt="#" />
    </div>
    <div class="user_info">
        <h6>@ViewData["Name"]</h6>
        <p><span class="online_animation"></span>Komisyon</p>
    </div>
}
    @section pages{
    <h4>@Model.Students.StudentNumber</h4>
    <div class="row column1">
        <div class="col-md-6">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        <p class="head_couter">Öğrenci Bilgileri</p>
                         <img class="img-responsive"
         src="@ViewData["PathV2"]"
         alt="#" />
                        <p class="head_couter">@ViewData["NameV2"]</p>
                        <a asp-action="StudentInfo" asp-controller="Teacher" asp-route-id="@Model.Students.Id"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-user yellow_color"></i>
                    </div>
                </div>
                    <div>
                        <p class="total_no">Staj-1</p>
                        <p class="head_couter">Durum : </p>
                        <form>
                             <div class="form-group">
                    <label asp-for="Intern1s.IsOk"></label>
                    <input type="text" placeholder="Onay (1) Red (0) " asp-for="Intern1s.IsOk" />
                </div>
                 <div class="form-group">
                    <label asp-for="Intern1s.Info"></label>
                    <input placeholder="Red ise neden red ?" type="text" asp-for="Intern1s.Info" />
                </div>
                <button type="submit">Kaydet</button>
                        </form>
                    </div>
            </div>
        </div>
           <div class="col-md-6">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-user yellow_color"></i>
                    </div>
                </div>
                    <div>
                        <p class="total_no">Staj-2</p>
                        <p class="head_couter">Durum : </p>
                        <form>
                             <div class="form-group">
                    <label asp-for="Intern1s.IsOk"></label>
                    <input type="text" placeholder="Onay (1) Red (0) " asp-for="Intern1s.IsOk" />
                </div>
                 <div class="form-group">
                    <label asp-for="Intern1s.Info"></label>
                    <input placeholder="Red ise neden red ?" type="text" asp-for="Intern1s.Info" />
                </div>
                <button type="submit">Kaydet</button>
                        </form>
                    </div>
            </div>
        </div>
           <div class="col-md-6">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-user yellow_color"></i>
                    </div>
                </div>
                    <div>
                        <p class="total_no">Intern</p>
                        <p class="head_couter">Durum : </p>
                        <form>
                             <div class="form-group">
                    <label asp-for="Intern1s.IsOk"></label>
                    <input type="text" placeholder="Onay (1) Red (0) " asp-for="Intern1s.IsOk" />
                </div>
                 <div class="form-group">
                    <label asp-for="Intern1s.Info"></label>
                    <input placeholder="Red ise neden red ?" type="text" asp-for="Intern1s.Info" />
                </div>
                <button type="submit">Kaydet</button>
                        </form>
                    </div>
            </div>
        </div>
        
    </div>
    }
    @section menus{
 

    <li>

        <a asp-action="ListStudents" asp-controller="Teacher"><span>Öğrencileri Listele</span></a>

    </li>

    }
}