@model BossModel

@section info{
    <div class="user_img">
        <img class="img-responsive"
         src="@ViewData["Path"]"
         alt="#" />
    </div>
    <div class="user_info">
        <h6>@ViewData["Name"]</h6>
        <p><span class="online_animation"></span>Yönetici</p>
    </div>
}
    @section menus{
    <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa fa-dashboard yellow_color"></i> <span>İşlemler</span>
    </a>
    <ul class="collapse list-unstyled" id="dashboard">
        <li>
            <a asp-action="ListTeachers" asp-controller="Komisyon">> <span>Öğretmen Listele</span></a>
        </li>
        <li>
            <a asp-action="ListStudents" asp-controller="Komisyon">> <span>Öğrenci Listele</span></a>
        </li>
    </ul>
}
    @section pages{
    <h3 class="bg-danger text-dark">@TempData["myError"]</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Öğretmen Numarasi</th>
                <th scope="col">Öğretmen Mail</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model.TeacherList)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.TeacherNumber</td>
                    <td>@item.TeacherMail</td>
                    <td><a class="text-info" asp-action="TeacherDetails" asp-controller="Komisyon" asp-route-id="@item.TeacherNumber">STAJ-1</a></td>
                    <td><a class="text-info" asp-action="TeacherDetailsStaj2" asp-controller="Komisyon" asp-route-id="@item.TeacherNumber">STAJ-2</a></td>
                    <td><a class="text-info" asp-action="TeacherDetailsIME" asp-controller="Komisyon" asp-route-id="@item.TeacherNumber">IME</a></td>
                </tr>
            }
        </tbody>
    </table>
}