@model Student
@{
    Layout = "_Layout";
}
@if (Model.IsFirstPassword == true)
{
    @section mainLink{
        <a 
        <img class="logo_icon img-responsive"
         src="https://seeklogo.com/images/K/kocaeli___niversitesi-logo-440B62032E-seeklogo.com.png"
         alt="#" />
    </a>
    }
    @section info{
    <div class="user_img">
        <img class="img-responsive"
         src="@ViewData["Path"]"
         alt="#" />
    </div>
    <div class="user_info">
        <h6>
            @ViewData["Name"]
        </h6>
        <p><span class="online_animation"></span>Öğrenci</p>
    </div>
}
    @section pages{

    <div class="row column1 d-flex" style="display:flex;">
 <div class="col-md-3" style="margin-left:2%">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        <a asp-action="Intern1Main" asp-controller="Student" class="counter_no">
                            <div>
                                <p class="head_couter">STAJ-1</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-left:5%">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        <a asp-action="Intern2Main" asp-controller="Student" class="counter_no">
                            <div>
                                <p class="head_couter">STAJ-2</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-3" style="margin-left:5%">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        <a asp-action="Intern1Main" asp-controller="Student" class="counter_no">
                    <div>
                        <p class="head_couter">IME</p>
                    </div>
                </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row column4 graph">
        <div class="col-md-11 margin_bottom_30">
            <div class="dash_blog">
                <div class="dash_blog_inner">
                    <div class="dash_head">
                        <h3><span><i class="fa fa-calendar"></i>&nbsp @ViewData["gDate"]</span></h3>
                    </div>
                    <div class="list_cont">
                        <p>Staj Yönetimi</p>
                    </div>
                    <div class="task_list_main">
                        <ul class="task_list">
                            <li>
                                <a>Staj-1</a><br><strong>
                                    @ViewData["Staj1Tarih"] /  @ViewData["Staj1Tarih2"]
                                    Or
                                    @ViewData["Staj1TarihV1"] /  @ViewData["Staj1TarihV2"]
                                </strong>
                            </li>
                            <li>
                                <a>Staj-2</a><br><strong>
                                    @ViewData["Staj2Tarih"] /  @ViewData["Staj2Tarih2"]
                                    Or
                                    @ViewData["Staj2TarihV1"] /  @ViewData["Staj2TarihV2"]
                                </strong>
                            </li>
                            <li>
                                <a>İşyerinde Mesleki Eğitim</a><br><strong>
                                    @ViewData["ISE"] /  @ViewData["ISE2"]
                                    Or
                                    @ViewData["ISEV1"] /  @ViewData["ISEV2"]
                                </strong>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="footer">
                <p>
                    Kocaeli Universitesi Öğrencileri Tarafindan Yapilmistir<br><br>
                    Distributed By:Caner Ay Celep , Eyup Ayaz , İsa Oguz , Mehmet Yusuf Alpay<a href="https://themewagon.com/">®</a>
                </p>
            </div>
        </div>
    </div>
    }
    @section menus{
    <li>
        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Staj İşlemleri</span></a>
        <ul class="collapse list-unstyled" id="apps">
            <li><a asp-action="Intern1Main" asp-controller="Student"><span>Staj-1</span></a></li>
            <li><a asp-action="Intern2Main" asp-controller="Student"><span>Staj-2</span></a></li>
            <li><a asp-action="ISEMain" asp-controller="Student"><span>ISE</span></a></li>
        </ul>
    </li>

    }
}

@if (Model.IsFirstPassword == false)
{
    @section pages{

    <div class="card">
        <div class="login">

            <div class="login-header">

                <div class="img-content"> <img class="logos" src="https://seeklogo.com/images/K/kocaeli___niversitesi-logo-440B62032E-seeklogo.com.png"></div>
                <h3>Lütfen ilk giriş için şifrenizi değiştiriniz ve bir fotoğraf yükleyiniz !.</h3>

                <form asp-controller="Student" asp-action="Index" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="number">Ogrenci Numarasi</label>
                        <input hidden name="number" id="number" type="text" placeholder="@Model.StudentNumber" value="@Model.StudentNumber" />
                    </div>
                    <div class="form-group">
                        <label for="password">Şifreniz : </label>
                        <input required type="password" name="password" id="password" class="btn btn-primary" />
                    </div>
                        @if (ViewData["path"] == null)
                        {
                          <div class="form-group">
                        <label>Resim Seçin</label>
                        <input required type="file" name="file" id="file" />
                    </div>
                    }
                    else{
                            <div class="form-group">
                        <label hidden >Resim Seçin</label>
                        <input  hidden  type="file" name="file" id="file" />
                    </div>
                    }
                  
                    <button type="submit" class="btn btn-primary">Save Blog</button>
                </form>

            </div>
        </div>

    </div>
        }
}
