@model StudentModel
@{
    Layout = "_Layout";
}

@section info{
    <div class="user_img">
        <img class="img-responsive"
         src="@ViewData["Path"]"
         alt="#" />
    </div>
    <div class="user_info">
        <h6>
            @ViewData["Name"]
        </h6>
        <p><span class="online_animation"></span>Öğrenci</p>
    </div>
}
    @section menus{
    <li>
        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Staj İşlemleri</span></a>
        <ul class="collapse list-unstyled" id="apps">
            <li><a asp-action="Intern1Main" asp-controller="Student"><span>Staj-1</span></a></li>
            <li><a asp-action="Intern2Page" asp-controller="Student"><span>Staj-2</span></a></li>
            <li><a asp-action="ISE" asp-controller="Student"><span>ISE</span></a></li>
        </ul>
    </li>
}
    @section pages{


    <div class="row column1 d-flex" style="display:flex;">
        <div class="col-md-3" style="margin-left:2%">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        @if (ViewBag.isOk)
                        {
                            @if (ViewBag.documents == true)
                            {
                                if (ViewBag.Durum == false)
                                {
                                    <h3>İndir</h3>
                                    <form enctype="multipart/form-data" asp-action="Intern1Main" asp-controller="Student" enctype="multipart/form-data">

                                        <input value="caner" hidden type="text" id="myFile" />
                                        <button type="submit">İndir</button>

                                    </form>

                                    <h3>Güncelle</h3>
                                    <form>
                                        <div class="form-group">
                                            <label asp-for="@Model.Intern1s.DetailDocument"></label>
                                            <input type="file" asp-for="Intern1s.DetailDocument" />
                                            <button type="submit">Güncelle</button>
                                        </div>
                                    </form>

                                    <h3 class="bg-danger">@ViewBag.info</h3>
                                }
                                else
                                {
                                    if (ViewBag.isOk2)
                                    {
                                        @if (ViewBag.documents2 == true)
                                        {
                                            if (ViewBag.Durum2 == false)
                                            {
                                                <h3>İndir</h3>
                                                <form enctype="multipart/form-data" asp-action="Intern1Main" asp-controller="Student" enctype="multipart/form-data">

                                                    <input value="caner" hidden type="text" id="myFile" />
                                                    <button type="submit">İndir</button>

                                                </form>

                                                <h3>Güncelle</h3>
                                                <form>
                                                    <div class="form-group">
                                                        <label asp-for="@Model.Intern1s.DetailDocument"></label>
                                                        <input type="file" asp-for="Intern1s.DetailDocument" />
                                                        <button type="submit">Güncelle</button>
                                                    </div>
                                                </form>

                                                <h3 class="bg-danger">@ViewBag.info</h3>
                                            }
                                            else
                                            {
                                                <h3 class="bg-danger">Stajınız başarılı bir şekilde kabul edilmiştir:</h3>
                                                <h3 class="bg-danger">Kabul edilen Günler Aşağıda Verilmiştir ; </h3>
                                                <h3 class="bg-danger">@ViewBag.OkDays</h3>
                                            }
                                        }
                                        else
                                        {
                                            <h3>Sisteme Dosya Yükle</h3>
                                            <form>
                                                <div class="form-group">
                                                    <input hidden type="text" id="fakeNumber" name="fakeNumber" value="1" />
                                                    <label asp-for="@Model.Intern1s.DetailDocument"></label>
                                                    <input type="file" asp-for="Intern1s.DetailDocument" />
                                                    <button type="submit">Gönder</button>
                                                </div>
                                            </form>
                                        }
                                    }
                                    else
                                    {
                                        <h3 class="text-danger bg-info">STAJ DEFTERİ SİSTEME YÜKLENME SÜRESİ GEÇTİ !.</h3>
                                    }
                                }

                            }
                            else
                            {
                                <h3>Sisteme Dosya Yükle</h3>
                                <form>
                                    <div class="form-group">
                                        <input hidden type="text" id="fakeNumber" name="fakeNumber" value="1" />
                                        <label asp-for="@Model.Intern1s.DetailDocument"></label>
                                        <input type="file" asp-for="Intern1s.DetailDocument" />
                                        <button type="submit">Gönder</button>
                                    </div>
                                </form>
                            }
                        }
                        else
                        {
                            <h3 class="text-danger bg-info">STAJ BAŞVURU FORMU SİSTEME YÜKLENME SÜRESİ GEÇTİ !.</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
